body{
    background-image:url("foto/dia2.jpg");
    height:1000px;
}
.Titulo{
    font-family:'Roboto Condensed';
    font-size: 80px;
    position: relative;
    left:300px;
    color:black;
}
.Menu{
    font-size:25px;
    position: relative;
    left: 240px; 
}
li{
    display: inline-block;
    list-style:none
}
button{
    width:200px;
    height:100px;
    cursor:pointer;
    border:none;
    font-size:20px;
}
.Menu1{
border:1px solid green;
color:green;
}
.Menu1:hover{
    background-color:green;
    color:white;
}
.Menu2{
    border:1px solid blue;
    color:blue;
}
.Menu2:hover{
    background-color: blue;
    color:white;
}
.Menu3{
    border:1px solid red;
    color:red;
}
.Menu3:hover{
    background-color:red;
    color:white;
}
section{
    border:black 1px solid;
    width:1200px;
    height:1000px;
}
aside{
    border:1px solid black;
    width:300px;
    height:1000px;
    position: relative;
    bottom:1000px;
    left:1210px; 
}
footer{
    position: relative;
    height:200px;
    bottom:1000px;
    width: auto;
    border:1px solid black;
    background:#343434;
    color:white;
}
.logo0{
    width:  260px;
    height: 150px;
    position: relative;
    right:70px;
}
.logo1{
    width:  260px;
    height: 150px;
    position:relative;
    right:200px;
}
.logo2{
    width:  260px;
    height: 150px;
    position:relative;
    right:330px;
}
.logo3{
    width:  260px;
    height: 150px;
    position:relative;
    right:460px;
}
.logo4{
    width:  260px;
    height: 150px;
    position:relative;
    right:600px;
}
.logo5{
    width:  260px;
    height: 150px;
    position:relative;
    bottom:150px;
    left:600px;
}
.logo6{
    width:  260px;
    height: 150px;
    position: relative;
    bottom:150px;
    left:480px;
}
.logo7{ 
    width:  260px;
    height: 150px;
    position: relative;
    bottom:150px;
    left:350px;
}
.logo8{
    width:  260px;
    height: 150px;
    position: relative;
    bottom:150px;
    left:220px;
}
.logo9{
    width:  260px;
    height: 150px;
    position: relative;
    bottom:150px;
    left:80px;
}
.logo10{
    width:  260px;
    height: 150px;
    position: relative;
    bottom:310px;
    left:1270px;
}