body{
    background-color: black;
    width:800px;
}
.encabezado{
    background-color: black;
    height: auto;
    width: auto;
    position: relative;
    bottom: 40px;
}
.Titulo{
    color:white;
    position: relative;
    top:30px;
    font-size:30px;
}
li{
    display:inline;
    position: relative;
    left:1100px;
}
.menu{
    list-style-type: none;
}
.Menu1, .Menu2, .Menu3, .Menu4 {
    color:white;
    background: black;
    font-size:20px;
}
.fondo1{
    max-width:1600px;
    position: relative;
    bottom:60px;
}
#inicio{
    font-size:50px;
    color:white;
    position: relative;
    left:650px;
    bottom:1000px;
}
#acerca{
    color:white;
    font-size: 50px;;
    text-align:center;

}
.parrafo{
    color: white;
    font-size:20px;
}
.acerca-de-mi{
    width: 350px;
    height:auto;
    position: relative;
    left:600px;
    bottom:200px;
}
.logo0{
    width:  260px;
    height: 150px;
    position:relative;
    bottom:600px;
}
.logo1{
    width:  260px;
    height: 150px;
    position: relative;
    bottom:600px;
}
.logo2{ 
    width:  260px;
    height: 150px;
    position: relative;
    bottom:600px;
    left:400px;
}
.logo3{ 
    width:  260px;
    height: 150px;
    position: relative;
    bottom:600px;
}
.logo4{ 
    width:  260px;
    height: 150px;
    position: relative;
    bottom:600px;
}
.logo5{ 
    width:  260px;
    height: 150px;
    position: relative;
    bottom:750px;
    left:600px;
}
.logo6{ 
    width:  260px;
    height: 150px;
    position: relative;
    bottom:600px;
}
.logo7{ 
    width:  260px;
    height: 150px;
    position: relative;
    bottom:600px;
}
.logo8{ 
    width:  260px;
    height: 150px;
    position: relative;
    bottom:750px;
    left:400px;
}
.logo9{ 
    width:  260px;
    height: 150px;
    position: relative;
    left:930px;
    bottom:750px;
}
.logo10{ 
    width:  260px;
    height: 150px;
    position: relative;
    left:870px;
bottom:900px;}
.proy{
    position: relative;
    left:600px;
    bottom:600px;
}
#proyectos{
    color:white;
    font-size:50px;
}
.pro1{
    width:300px;
    height: 200px;
    position: relative;
    bottom:500px;
}
.pro2{
    width:300px;
    height: 200px;
    position: relative;
    bottom:500px;
    left:200px;
}
.pro3{
    width:300px;
    height: 200px;
    position: relative;
    bottom:500px
}
.pro4{
    width:300px;
    height: 200px;
    position: relative;
    bottom:500px
}
.pro5{
    width:300px;
    height: 200px;
    position: relative;
    bottom:500px
}
.pro6{
    width:300px;
    height: 200px;
    position: relative;
    bottom:500px
}
.pro7{
    width:300px;
    height: 200px;
    position: relative;
    bottom:500px
}
.pro8{
    width:300px;
    height: 200px;
    position: relative;
    bottom:500px
}
.pro9{
    width:300px;
    height: 200px;
    position: relative;
    bottom:500px
}
.pro10{
    width:300px;
    height: 200px;
    position: relative;
    bottom:500px
}
.pro11{
    width:300px;
    height: 200px;
    position: relative;
    bottom:500px
}
.pro12{
    width:300px;
    height: 200px;
    position: relative;
    bottom:500px
}